* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  align-items: left;
  justify-content: center;
  background: radial-gradient(circle at center, #580707, #000000);
  color: #eee;
  font-family: "Inter", sans-serif;
  overflow: hidden;
}

/* Centered text */
.Title {
  text-align: center;
  font-size: 0.2em;
  font-size: clamp(2px, 3vw, 30px);
  line-height: 1.05;
  user-select: none;
  font-size: 1.5em;
  margin-top: 0.4em;
  opacity: 0.85;
}



/*the text under name*/
.text-2 {
  font-size: 0.5em;
  margin-top: 0.4em;
  opacity: 0.75;
}

/* Each letter becomes animated */
h1 span {
  display: inline-block;
  transition: font-variation-settings 120ms linear, font-weight 120ms linear;
  will-change: font-weight, transform;
}

.beginning-button {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -100%);
  padding: 15px 30px;
  font-size: 1.2em;
  color: #ffffff;
  background-color: rgb(15, 91, 3);
  border-radius: 5px;
  cursor: pointer;
  text-decoration: underline; 
}




.methodology {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, 105%);
  padding: 15px 30px;
  font-size: 1.2em;
  color: #ffffff;
  background-color: rgb(15, 91, 3);
  border-radius: 5px;
  cursor: pointer;
  text-decoration: underline; 
}


.git {
  left: 1%;
  bottom: 1%;
  position: absolute;
} 