* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  align-items: left;
  justify-content: center;
  background: #111;
  color: #eee;
  font-family: "Inter", sans-serif;
  overflow: hidden;
}

/* Centered text */
.Title {
  text-align: center;
  font-size: 0.2em;
  font-size: clamp(2px, 3vw, 30px);
  line-height: 1.05;
  user-select: none;
}

/* the name text*/
.text-1 {
  font-size: 1.5em;
  margin-top: 0.4em;
  opacity: 0.85;
}

/*the text under name*/
.text-2 {
  font-size: 0.5em;
  margin-top: 0.4em;
  opacity: 0.75;
}

/* Each letter becomes animated */
h1 span {
  display: inline-block;
  transition: font-variation-settings 120ms linear, font-weight 120ms linear;
  will-change: font-weight, transform;
}

.theme-toggle {
  color: white;
  
}
