* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  align-items: left;
  justify-content: center;
  background: radial-gradient(circle at center, #580707, #000000);
  color: #eee;
  font-family: "Inter", sans-serif;
  overflow: hidden;
}

/* Centered text */
.Title {
  text-align: center;
  font-size: 0.2em;
  font-size: clamp(2px, 3vw, 30px);
  line-height: 1.05;
  user-select: none;
  font-size: 1.5em;
  margin-top: 0.4em;
  opacity: 0.85;
}



/*the text under name*/
.text-2 {
  font-size: 0.5em;
  margin-top: 0.4em;
  opacity: 0.75;
}

/* Each letter becomes animated */
h1 span {
  display: inline-block;
  transition: font-variation-settings 120ms linear, font-weight 120ms linear;
  will-change: font-weight, transform;
}

/* Beginning button */
/* This is the button in its default configuration */
.beginning-button {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -100%);
  padding: 15px 30px;
  font-size: 1.2em;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #ffffff;
  background-color: rgb(102, 112, 204);
  border-radius: 8px;
  cursor: pointer;
  box-shadow: 0 4px 15px;
  transition: all 0.4s ease-in-out;

}

/* this changes how the buttons looks like when being hovered over*/
.beginning-button:hover {
  background: rgb(73, 83, 171);
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.3);
  transform: translate(-50%, -102%); /* Lifts slightly higher */
  box-shadow: 0 4px 15px;

}

/* Beginning button end */


/* Methodology button */
/* This is the button in its default configuration */
.methodology-button {
  position: absolute;
  background-color: rgb(102, 112, 204);
  top: 70%;
  left: 50%;
  transform: translate(-50%, 105%);
  padding: 15px 30px;
  font-size: 1.2em;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 4px 15px;
  transition: all 0.4s ease-in-out;
}

.methodology-button:hover {
  background: rgb(73, 83, 171);
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.3);
  transform: translate(-50%, 102%); /* Lifts slightly higher */
  box-shadow: 0 4px 15px;



}


.git {
  left: 1%;
  bottom: 1%;
  position: absolute;
}
